@import "tailwindcss";

@theme {
  --color-jungle-950: #022c22;
  --color-jungle-900: #064e3b;

  --color-emerald-glass: rgba(16, 185, 129, 0.1);
  --color-emerald-glass-border: rgba(16, 185, 129, 0.2);

  --animate-fade-in: fade-in 0.5s ease-out;
  --animate-slide-up: slide-up 0.5s ease-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to: {
      opacity: 1;
    }
  }
  @keyframes slide-up {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to: {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.glass {
  background: rgba(2, 44, 34, 0.7);
  backdrop-filter: blur(12px);
  --webkit-backdrop-filter: blur(12px);
  border: 1px solid var(--color-emerald-glass-border);
}

.glass-hover:hover {
  background: rgba(16, 185, 129, 0.15);
  box-shadow: 0 0 15px  rgba(16, 185, 129, 0.2);
  transition: all 0.3s ease;
}
